* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#background {
    /* https://webkit.org/blog/1424/css3-gradients/ */
    background: -webkit-linear-gradient( 135deg, rgba(34,193,195,1) 0%,rgba(253,187,45,1) 100%);
    border-radius: 10px;
    height: 500px;
    margin: 18px;
    display: flex;
}

.logo {
    width: 35%;
    height: 500px;
    /* border: 2px solid black; */
}

.logo img {
    /* https://www.demo2s.com/html-css/css-animate-to-move-image-up-and-down.html */
    position: relative;
    animation: glide 2s ease-in-out alternate infinite;
    width: 150px;
}

@keyframes glide {
    from {
        left: 0px;
        top: 0px;
    }

    to {
        left: 0px;
        top: 20px;
    }
}

#content {
    margin-top: 100px;
    text-align: center;
    padding: 25px;
}

#content h2{
    margin-top: 20px;
}

.sign {
    background-color: white;
    width: 60%;
    height: 400px;
    /* border: 2px solid black; */
    margin: auto;
    border-radius: 20px;
}

#content1 {
    /* border: 2px solid black; */
    text-align: center;
    margin-top: 20px;
    height: 350px;
}

#content1 h2 {
    /* font-size: 40px; */
    /* border: 2px solid yellow; */
    color: rgb(32, 32, 143);
}

#content1 form {
    /* border: 2px solid red; */
    padding: 20px;
    margin-top: 10px;
    height: 278px;
}

.container {
    display: flex;
    flex-wrap: row nowrap;
}


.input input {
    padding: 10px;
    margin: 8px;
    background-color: gainsboro;
    border-radius: 20px;
    border: none;
    width: 300px;
    /* height: 30px; */
}

.labels {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    margin-left: 50px;
    width: 60vh;
}


#checkbox {
    width: 50%;
}

#btn {
    width: 50%;
}

#btn button {
    width: 50%;
    height: 36px;
    border-radius: 20px;
    border: none;
    background-color: rgba(14, 184, 240, 0.863);
    color: white;
}