:root {
  --white: #ffffff;
  --primaryColor: #e63946;
  /* --lightBlueShade: #a8dadc; */
  --lightBlueShade: rgb(63, 229, 232);
  --blueShade: #457b9d;
  --black: black;
}

/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  cursor: pointer;
  text-decoration: none;
}
.button {
  color: var(--white);
  background-color: var(--primaryColor);
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
.button:hover {
  background-color: var(--blueShade);
  color: var(--white) !important;
  border-bottom: none !important;
}
.cover-div {
  max-width: 1024px;
  margin: auto;
}

/* .cover-div h2{
    text-align: center;
  } */

/* Navigation Bar */
#nav-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}
#navigation-bar > ul {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
}
#navigation-bar > ul > li {
  margin: 0 1rem;
}
.nav-element {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.nav-element > img {
  height: 20px;
  padding-top: 5px;
}
#nav-ul {
  color: var(--black);
  font-weight: 600;
}
#nav-ul li a:hover {
  color: var(--primaryColor);
  border-bottom: 3px solid var(--black);
  /* margin-bottom: 5px;
    transition: margin 2s; */
}
.dropdown-li > a:hover {
  border-bottom: none !important;
}
.dropdown-li {
  position: relative;
}
.dropdown li {
  list-style-type: none;
  padding: 0.2rem 0;
}
.dropdown a {
  text-decoration: none;
  color: var(--black);
  font-weight: 600;
}
.dropdown a:hover {
  color: var(--primaryColor);
  text-decoration: underline;
  text-decoration-color: var(--black);
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}
.dropdown {
  position: absolute;
  border: 2px solid var(--primaryColor);
  border-radius: 8px;
  width: 180px;
  padding: 1rem 0;
  background-color: white;
  /* margin-top: 1rem; */
}

/* Intro Section */
#intro-section .cover-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2%;
}
#intro-text {
  flex-basis: 48%;
  height: 200px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  gap: 5%;
}
#cover-photo {
  flex-basis: 48%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  overflow: hidden;
  transition: border-top-left-radius 2s, border-bottom-right-radius 2s;
}
#cover-photo:hover {
  border-top-left-radius: 0%;
  border-bottom-right-radius: 0%;
}
#cover-photo > img {
  width: 100%;
}

/* Services Section */
#service-div {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 5rem auto auto auto;
}
#services {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
#service-element {
  flex-basis: 16%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
  border: 3px solid var(--white);
  margin: 0px;
  transition: margin 0.8s;
}

#service-element a {
  color: var(--black);
}
#service-element:hover {
  /* border-color: var(--primaryColor);
    background-color: var(--lightBlueShade); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 2rem;
  border-radius: 10px;
}
#service-element img {
  height: 230px;
  width: 230px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

/* Pets Section */
#pets-section {
  margin: 5rem 0;
}
#pets {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  /* background-color: var(--primaryColor); */
  padding: 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.pet-card {
  padding: 1rem;
  margin: 1rem;
  flex-basis: 30%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
  /* background-color: var(--primaryColor); */
  border: 2px solid var(--primaryColor);
  transition: background-color 0.5s, border 0.5s;
  border-radius: 10px;
}
.pet-card:hover {
  padding-top: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 2rem;
  border-radius: 10px;
}
.pet-card > img {
  height: 250px;
  width: 100%;
  border-radius: 10px;
}
.right-arrow {
  height: 40px;
  width: 40px;
}
.arrow-button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--primaryColor);
  width: 150px;
  transition: gap 0.3s, width 0.3s;
  border: 2px solid white;
}
.arrow-button > a {
  color: white;
}
.arrow-button:hover {
  gap: 15px;
  width: 170px;
}

/* Products Section */
#products-section {
  margin: 5rem 0;
}
#products {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2%;
  padding: 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.product-card {
  padding: 1rem;
  flex-basis: 31%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 2px solid var(--primaryColor);
  transition: background-color 0.5s, border 0.5s;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.product-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 2rem;
  border-radius: 10px;
}
.product-card > img {
  height: 250px;
  width: 100%;
  border-radius: 10px;
}

/* Stolen Pets Section */
#stolen-pets-section {
  background-color: var(--lightBlueShade);
  margin-top: -2rem;
}
.stolen-pets-div {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 1.5rem;
}
